.loader-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    color: rgb(109, 109, 109);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all .7s ease-in-out;
    @include flex(row);
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 900;
    // font-family: ;
    @include mobile {
        // background: teal;
        font-size: 40px;
    }
    @include forLoader {
        font-size: 40px;
    }
    .wrap {
        letter-spacing: -4px;
        transform: translateX(60%);
        animation: come 3.2s linear forwards;
        // animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
        // animation-timing-function: cubic-bezier(0.22, 0.685, 0.03, 0.295);
        animation-timing-function: cubic-bezier(-2, 0, 0, .1);
        @include mobile {
            transform: translateX(0px);
        }
        div {
            .loader-txt-wrapper {
                div {
                    @include flex(row);
                    gap: .09em;
                    span {
                        opacity: 0;
                        position: relative;
                        transition: all .3s ease-in-out;
                        animation: spanAnim 1s ease forwards;
                        &::before {
                            content: '';
                            width: 70px;
                            height: 80px;
                            background: white;
                            position: absolute;
                            display: block;
                            top: 10%;
                            right: -5%;
                            transition: all .3s ease-in-out;
                            animation: letterWrapper .5s ease forwards;
                        }
                    }
                }
            }
        }
        .first-line {
            height: 80px;
            margin-bottom: 10px;
            @include mobile {
                height: 50px;
                // @include flex(column);
                transform: translateX(-100px);
                animation: firstLineMobile 1s linear forwards;
                margin-bottom: 0px;
            }
            @include forLoader {
                height: 50px;
            }
            position: relative;
            transform: translateX(350px);
            animation: firstLine1 1.5s linear forwards;
            .loader-txt-wrapper {
                @include flex(row);
                gap: .6em;
                &>:nth-child(1) {
                    @include weTxt;
                }
                &>:nth-child(2) {
                    @include codecare;
                }
            }
            // animation-timing-function: cubic-bezier(.44, .19, 0, .7);
        }
        .second-line {
            @include flex(row);
            gap: .7em;
            transform: translateX(550px);
            animation: secondLine 1.45s linear forwards;
            @include mobile {
                @include flex(column);
                transform: translateX(0px);
                animation: '' 0s linear forwards;
            }
            @include forLoader {
                transform: translateX(50px);
                animation: '' 0s linear forwards;
            }
            .loader-txt-wrapper {
                @include flex(row);
                gap: .7em;
                align-items: center;
                height: 80px;
                &>:nth-child(1) {
                    @include weTxt;
                }
                &>:nth-child(2) {
                    @include codecare;
                }
            }
            .loader-img-wrapper {
                width: 700px;
                height: 83px;
                @include mobile {
                    width: 140px;
                    left: 0%;
                    transform: translateX(200%);
                    animation: loaderImgWrapperAnim 1.7s linear forwards;
                }
                @include forLoader {
                    transform: translateX(300px);
                    animation: bla 3s linear forwards;
                }
                @include mobile {
                    border: none;
                }
                top: 0;
                left: 105%;
                padding-left: 10px;
                // transform: translateX(400px);
                // animation: bla 1s linear 2s forwards;
                .inner-loader-img-wrapper {
                    background: #009be9;
                    width: 700px;
                    height: 80px;
                    transition: all .4s ease-in-out;
                    // animation: innerLoaderImgAnim 1.3s linear 2.4s forwards;
                    img {
                        width: 140px;
                        height: 80px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.active {
    transform: translateX(0%);
}

@keyframes letterWrapper {
    to {
        width: 0px;
    }
}

@keyframes firstLine1 {
    to {
        transform: translateX(-10px);
    }
}

@keyframes secondLine {
    to {
        transform: translateX(160px);
    }
}

@keyframes spanAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes innerLoaderImgAnim {
    to {
        width: 140px;
    }
}

@keyframes loaderImgWrapperAnim {
    to {
        transform: translateX(0%);
    }
}

@keyframes firstLineMobile {
    to {
        transform: translateX(0px);
    }
}

@keyframes bla {
    to {
        transform: translateX(0px);
    }
}

@keyframes come {
    to {
        transform: translateX(40%);
    }
}